body {
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    display: flexbox;
}
/* Center the text in nav bar*/
.navbar ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Add background color to nav bar */
.navbar {
    background-color: #000000;
    position: fixed;
    opacity: 1;
    /* Set the position of the nav bar to top of the page */
    top: 0; 
    right: 0;
    left: 0;
    width: 100%; /* Set nav bar to full width */
}

/* Style the links (Home, Services, Appointments, etc.) */
.navbar a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-family: fantasy;
    font-size: 25px;
    font-weight: 200;
}

/* Style navbar links when user hover over links */
.navbar a:hover {
    background-color:#d4cece;
    color: black;
}