<title>Ace's Barbershop</title>
    <meta
      name="Best haircuts in the area"
      content="Ace is a professional barber"
    />
    <!--Service view of Barbershop website -->
    <meta charset="utf-8" />
    <meta name="robots" content="index, follow" />
    <link
      rel="stylesheet"
      href="/css/services.css"
      <!--Ico
      files
      to
      change
      the
      icon
      on
      the
      tabs--
    />
    <link rel="icon" href="/images/Barberpole.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!--Links to the other pages will be added in post once they are created-->
    <div class="background"></div>
    <div class="navbar">
      <ul>
        <li><a href="home.ejs"> Home</a></li>
        <li><a href="services.ejs"> Products/Services</a></li>
        <li><a href="#"> Appointments</a></li>
        <li><a href="#"> Barbers</a></li>
        <li><a href="login.ejs"> Log In</a></li>
        <li><a href="about.ejs"> About Us</a></li>
      </ul>
    </div>
    <div class="header-box">
      <h1 class="header-name">Services</h1>
      <p class="header-description">
        At Ace's Barbershop, we offer two kinds of services: Haircuts and
        beard/mustaches trims.
      </p>
    </div>
    <div class="services-container">
      <div class="services-box">
        <div class="services-name">
          Haircuts
          <ul class="service-description">
            <li>Traditional</li>
            <li>Professional</li>
            <li>Fades</li>
            <li>Crew</li>
            <li>Tapers</li>
          </ul>
          <img class="img" src="" alt="haircut" />
          <img class="img" src="" alt="haircut2" />
        </div>
      </div>
      <div class="services-box">
        <div class="services-name">
          Beard and Mustache
          <ul class="service-description">
            <li>Beard Line-up</li>
            <li>Bread Trim</li>
            <li>Mustache Trim</li>
          </ul>
          <img class="img" src="" alt="beard" />
          <img class="img" src="" alt="beard2" />
        </div>
      </div>
    </div>
  </body>