<title>Ace's Barbershop</title>
    <meta
      name="Best haircuts in the area"
      content="Ace is a professional barber"
    />
    <!-- -->
    <meta charset="utf-8" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" href="/css/SignUpPage.css">
    <!--Ico files to change the icon on the tabs-->
    <link rel="icon" href="/images/Barberpole.ico"
      <meta name = "viewport"content = "width=device-width, initial-scale=1"/>
  </head>
  <body>
    <div class="background"></div>
    <div class="navbar">
      <ul>
        <li><a href="home"> Home</a></li>
        <li><a href="services"> Services</a></li>
        <li><a href="appointments"> Appointments</a></li>
        <li><a href="barbers"> Barbers</a></li>
        <li><a href="login"> Log In</a></li>
        <li><a href="about"> About Us</a></li>
      </ul>
    </div>
    <div class="signup">
      <h1>Sign Up</h1>
      <form action = "/Public/views/signup" method = "post">
        <% var email%>
        <% var password; var name %>
        <input type="text" class="inputBox" placeholder="Name" name = name>
        <input type="text" class="inputBox" placeholder="Email" name = email>
        <input type="password" class="inputBox" placeholder="Password" name = password>
        <p><button type="submit" class="submitButton" value = "Submit">Submit</button></p>
      </form>
      <p>Already a member? <a href="login">Log in</a></p>
    </div>