<title>Ace's Barbershop</title>
    <meta
      name="Best haircuts in the area"
      content="Ace is a professional barber"
    />
    <meta charset="utf-8" />
    <meta name="robots" content="index, follow" />
    <link
      rel="stylesheet" href="/Assets/css/AppointmentsStyle.css"
      <!-- Ico files change icon on tabs--/>
    <link rel="icon" href="/Assets/images/Barberpole.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!--Links to the other pages will be added in post once they are created-->
    <div class="background"></div>
    <!-- <div class="logo">
      <img src="/images/AcesBarbershopLogo.jpg" alt="" />
    </div> -->
    <div class="navbar">
      <ul>
        <li><a href="/home"> Home</a></li>
        <li><a href="/services"> Products/Services</a></li>
        <li><a href="/appointments"> Appointments</a></li>
        <li><a href="/barbers"> Barbers</a></li>
        <li><a href="/login"> Log In</a></li>
        <li><a href="/about"> About Us</a></li>
      </ul>
    </div>
    <div class="container">
      <div class="title">Book your appointment</div>
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">First Name</span>
            <input type="text" name="first-name" placeholder="Enter your First Name">
          </div>
          <div class="input-box">
            <span class="details">Last Name</span>
            <input type="text" name="last-name" placeholder="Enter your Last Name">
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="tel" name="tel-number" placeholder="Enter a Phone Number">
          </div>
          <div class="input-box">
            <span class="details">Choose a time for your appointment</span>
            <input type="date" id="meeting-time"
             name="meeting-time" value="2018-06-12T19:30">
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Schedule">
        </div>
      </form>
    </div>
  </body>