<title>Ace's Barbershop</title>
    <meta
      name="Best haircuts in the area"
      content="Ace is a professional barber"
    />
    <!--Homepage view of Barbershop website -->
    <meta charset="utf-8" />
    <meta name="robots" content="index, follow" />
    <link
      rel="stylesheet"
      href="/css/barbers.css"
      <!--Ico
      files
      to
      change
      the
      icon
      on
      the
      tabs--
    />
    <link rel="icon" href="/images/Barberpole.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!--Links to the other pages will be added in post once they are created-->
    <div class="background"></div>
    <div class="navbar">
      <ul>
        <li><a href="/home"> Home</a></li>
        <li><a href="/services"> Products/Services</a></li>
        <li><a href="/appointments"> Appointments</a></li>
        <li><a href="/barbers"> Barbers</a></li>
        <li><a href="/login"> Log In</a></li>
        <li><a href="/about"> About Us</a></li>
      </ul>
    </div>

  <div class="barberProfile">
    <div class="barberImage">
      <img src="/images/barber1.jpg" />
    </div>
    <div class="barberName">
      <h3><b>Dan Green</b></h3>
    </div>
    <div class="barberBio">
      <b>My speciality is fades!</b>
    </div>   
    <div class="barberTwitter">
      <img src="/images/twitterIcon.png">
    </div>
    <div class="barberFacebook">
      <img src="/images/facebookIcon.png">
    </div>
    <div class="barberInstagram">
      <img src="/images/instagramIcon.png">
    </div>
  </div>

  <div class="barberProfile">
    <div class="barberImage">
      <img src="/images/barber2.jpg" />
    </div>
    <div class="barberName">
      <h3><b>Greg Smith</b></h3>
    </div> 
    <div class="barberBio">
      <b>I give amazing haircuts!</b>
    </div>
    <div class="barberTwitter">
      <img src="/images/twitterIcon.png">
    </div>
    <div class="barberFacebook">
      <img src="/images/facebookIcon.png">
    </div>  
    <div class="barberInstagram">
      <img src="/images/instagramIcon.png">
    </div>
  </div>