<title>Ace's Barbershop</title>
    <meta
      name="Best haircuts in the area"
      content="Ace is a professional barber"
    />
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow" />
    <!--Ico files to change the icon on the tabs-->
    <link rel="icon" href="/Images/Barberpole.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="background"></div>
    <div class="navbar">
      <ul>
        <li><a href="home"> Home</a></li>
        <li><a href="#"> Products/Services</a></li>
        <li><a href="#"> Appointments</a></li>
        <li><a href="#"> Barbers</a></li>
        <li><a href="login"> Log In</a></li>
        <li><a href="#"> About Us</a></li>
      </ul>
    </div>
    <div class="SignUp">
      <!-- Sign Up Code should be here-->
      <a href="signup"> Sign Up </a>
    </div>
    <div class="Forgot Password">
      <!-- Forgot password Code should be here-->
      <a href="#"> Forgot Password </a>
    </div>
    <footer>
      <p align="right" style="font-size: 120%">
        FIND ME ON
        <button>
          <a href="" ariel-label="Twitter"
            ><i class="fab fa-twitter fa-3x"> </i>
          </a>
        </button>
        <button>
          <a href="" ariel-label="Instagram"
            ><i class="fab fa-instagram fa-3x"> </i>
          </a>
        </button>
      </p>

    </footer>