<title>Ace's Barbershop</title>
    <meta
      name="Best haircuts in the area"
      content="Ace is a professional barber"
    />
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow" />
    <link
    rel="stylesheet"
    href="/css/loginpage.css"
    <!--Ico files to change the icon on the tabs-->
    <link rel="icon" href="/images/Barberpole.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="background"></div>
    <div class="navbar">
      <ul>
        <li><a href="home"> Home</a></li>
        <li><a href="services"> Services</a></li>
        <li><a href="appointments"> Appointments</a></li>
        <li><a href="barbers"> Barbers</a></li>
        <li><a href="login"> Log In</a></li>
        <li><a href="about"> About Us</a></li>
      </ul>
    </div>
    <form>
      <h3>Login Here</h3>

      <label for="username">Username</label>
      <input type="text" placeholder="Email or Phone" id="username">

      <label for="password">Password</label>
      <input type="password" placeholder="Password" id="password">

      <button>Log In</button>
      <button><a href="signup">Sign Up</a></button>
      <div class="social">
        <div class="ig"><i class="fab fa-insta"></i>  Instagram</div>
        <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
      </div>    
  </form>
  </body>
  </html>