<title>Ace's Barbershop</title>
    <meta
      name="Best haircuts in the area"
      content="Ace is a professional barber"
    />
    <!--Service view of Barbershop website -->
    <meta charset="utf-8" />
    <meta name="robots" content="index, follow" />
    <link
      rel="stylesheet"
      href="/css/services.css"
      <!--Ico
      files
      to
      change
      the
      icon
      on
      the
      tabs--
    />
    <link rel="icon" href="/images/Barberpole.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!--Links to the other pages will be added in post once they are created-->
    <div class="background"></div>
    <div class="navbar">
      <ul>
        <li><a href="home"> Home</a></li>
        <li><a href="services"> Services</a></li>
        <li><a href="appointments"> Appointments</a></li>
        <li><a href="barbers"> Barbers</a></li>
        <li><a href="login"> Log In</a></li>
        <li><a href="about"> About Us</a></li>
      </ul>
    </div>
    <div class="header-box">
      <h1 class="header-name">Services</h1>
      <p class="header-description">
        At Ace's Barbershop, we offer services such as haircuts and bread trims. 
	  As well as those services, we provide mens' grooming
      </p>
    </div>
    <div class="services-container">
      <div class="services-box">
        <div class="services-name">
          Haircuts.....$30<br>
	    Line Ups.....#15<br>
          Haircut and Beard Lineup.....$35
          <ul class="service-description">
            <li>Traditional</li>
            <li>Professional</li>
            <li>Fades</li>
            <li>Tapers</li>
          </ul>
          <img class="img" src="/images/haircut1.png" alt="haircut1" />
          <img class="img" src="/images/haircut2.png" alt="haircut2" />
        </div>
      </div>
      <div class="services-box">
        <div class="services-name">
	    Mens' Grooming.....$10-15
          <ul class="service-description">
            <li>Facial Cleanser</li>
            <li>Face Scrub</li>
            <li>Hot Towel</li>
		<li>Black Mask</li>
          </ul>
          <img class="img" src="/images/grooming1.png" alt="grooming1" />
          <img class="img" src="/images/grooming2.png" alt="grooming2" />
        </div>
      </div>
    </div>
  </body>