<title>Ace's Barbershop</title>
    <meta
      name="Best haircuts in the area"
      content="Ace is a professional barber"
    />
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow" />
    <link
    rel="stylesheet"
    href="/css/userprofile.css"
    <!--Ico files to change the icon on the tabs-->
    <link rel="icon" href="/images/Barberpole.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="background"></div>
    <div class="navbar">
      <ul>
        <li><a href="home"> Home</a></li>
        <li><a href="services"> Services</a></li>
        <li><a href="appointments"> Appointments</a></li>
        <li><a href="barbers"> Barbers</a></li>
        <li><a href="login"> Log In</a></li>
        <li><a href="about"> About Us</a></li>
      </ul>
    </div>
    <form>
      <h3>User Profile</h3>
      <!--<input type="file" id="avatar" accept="image/*" onChange={updateImageDisplay} multiple class="profile"> </input>-->
      <img src="/images/avatar.jpg" id = "avatar">
      <!--<input type="image" id="avatar">-->
      <label for="username">Username</label>
      <input type="text" placeholder="Email or Phone" id="username">

      <label for="Address">Address</label>
      <input type="Address" placeholder="Apt/Home Street City State Zip" id="Address">
      <label for="Phone Number">Phone Number <input type="Phone Number" placeholder="Phone Number" id="Phone Number"></label>
      <button>Change Password </button>
  </form>
  </body>
  </html>