#barber-title{
    text-align: center;
    font-size: 1.5vh;
    font-family:  Helvetica, Arial, sans-serif;
}
#barber-gif{
    margin-left: 10vw;
}
.barbertop{
    margin-top: 5vw;
    margin-bottom: 15vw;
    margin-left: 10vw;
    margin-right: 10vw;
    /* background-color:whitesmoke; */
    padding-top: 7vw;
    padding-bottom: 7vw;
    border-radius: 15px;
    align-content: center;
    /* box-shadow: 0 2px 2px 3px rgba(0,0,0,.2); */
}
#barberimage{
    width: 20vw;
    border-radius: 50%;
    margin-left: 37%;
    box-shadow: 0 2px 2px 3px rgba(0,0,0,.2);
    border-style:double;
    border-color:steelblue;
    
}
.barber-footerline{
    height: 1px;
    max-width: 80%;
    margin: 2rem 10rem 0 10rem ;
    /* margin-top: 10vw; */
    margin-left: 10vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
    background: black;
    align-items: center;
}
.barber-footer{
    /* columns: 2; */
    /* align-items: center; */
    text-align: center;
}
#barber-footerinfo{
    font-family:  Helvetica, Arial, sans-serif;
    /* font-size:medium; */
    /* font-size: 1vh; */
    font-size: 10px;
    font-weight: bold;
    /* padding-left: 17vw; */
}
#barber-ig{
    /* margin-left: 10vw; */
    width: 4.5vw;
    margin-right: 1.5vw;
    /* margin-right: 2em; */
}
#barber-fb{
    /* margin-left: 2vw; */
    width: 4.4vw;
    margin-left: 1.5vw;
    
}

