#nav-firstNav{
    padding-top: 1.5vw;
    height: 2vw;
    font-family:  Helvetica, Arial, sans-serif;
    font-size:medium;
    font-size: 1.5vw;
    text-align: right;
    box-shadow: 0 2px 2px 3px rgba(0,0,0,.2);
    margin-bottom: 0.2vw;
   
}
a+a{
margin-right: 3vw;
}
a{
text-decoration: none;
text-shadow: 2px 2px 8px black;
}
#nav-twonav{
padding-top: 1.5vw;
padding-right: 2rem;
/* font-weight: bold; */
}
#nav-twonav:hover{
font-weight: bold;
}

a:visited {
text-decoration: none; 

}


#nav-App {
font-family: sans-serif;
/* height: 100vh; */
}

#page-wrap {
text-align: center;
overflow: auto;
}

.bm-item {
display: inline-block;
text-decoration: none;
margin-bottom: 10px;
/* color: #d1d1d1; */
color: black;
transition: color 0.2s;
}

.bm-item:hover {
color: white;
}

/* .bm-burger-button {
position: fixed;
width: 36px;
height: 30px;
left: 36px;
top: 5px;
} */
.bm-burger-button {
position: fixed;
width : 3vw;
height: 1.8vw;
left: 6vw;
top:1vw;


}

.bm-burger-bars {
background: #373a47;

}

.bm-cross-button {
height: 24px;
width: 24px;
}

.bm-cross {
/* background: #bdc3c7; */
background: black;
}

.bm-menu {
/* background: #373a47; */
background: #EFF2F5D9;
padding: 2.5em 1.5em 0;
font-size: 1.15em;
}

.bm-morph-shape {
fill: #373a47;
}

.bm-item-list {
color: #b8b7ad;
}

.bm-overlay {
background: rgba(0, 0, 0, 0.3);
}

.barberBackground{
height: 30vw;
background-image: url("../images/barbersbackground.jpeg");
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
object-fit: cover;
text-align: center;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: black;
}

#nav-twonav:visited{
    text-decoration: none;
    color:black;
    font-size: large;
    font-weight: bold;
    
}

.barbersTitle{
    padding-top: 7vw;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 5vw;
}

.barbersTitleContent{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
}

#barbersLineTitle {
    color: black;
    font-size: medium;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.barbersLine {
    height: 1px;
    margin: 0rem 5rem 0rem 5rem;
    background: black;
    
}


.barberProfile{
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
    padding-bottom: 4.25vw;
    padding-left: 3vw;
    padding-right: 3vw; 
    margin-top: 2%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-left: 10%;
    text-align: left;
    position: relative;
}

#barberProfileImage{
    width: 10vw;
    height: 10vw;
    position: relative;
    right: 58px;
    


}

#instagramIconImage{
    width: 4vw;
    height: 4vw;
    position: relative;
    right: 238px;
    top: 83px;

}

#facebookIconImage{
    width: 4vw;
    height: 4vw;
    position: relative;
    right: 218px;
    top: 83px;

}

#barberProfileContent {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: -20px;
    left: 200px;
    font-size: 30px;
    margin-right: 2%;
    word-break: normal;
    
}

/*#barberProfileContent {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 30px;
    margin-right: 2%;
    margin-left: 11%;
    
}
*/

