@import url('https://fonts.googleapis.com/css2?family=Hanuman&display=swap');

* {
    box-sizing: border-box !important;
}

.MyProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Hanuman', serif;
}

.MyProfile .heading {
    margin-top: 80px;
    margin-bottom: 90px;
    font-size: 32px;
}

.MyProfile .form, input, input::placeholder, textarea::placeholder {
    all: unset;
}

.MyProfile .form {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.MyProfile .div>div {
    width: 294px;
    height: 37px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin-top: 20px;
    padding-left: 30px;

    font-size: 12px;
    font-family: 'Hanuman', serif;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.MyProfile button {
    margin: 35px auto 0 auto;
    width: 294px;
    height: 37px;

    border: none;
    border-radius: 0;

    font-size: 14px;
    color: white;
    background: #DBA554;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}