#nav-firstNav{
    padding-top: 1.5vw;
    height: 2vw;
    font-family:  Helvetica, Arial, sans-serif;
    font-size:medium;
    font-size: 1.5vw;
    text-align: right;
    box-shadow: 0 2px 2px 3px rgba(0,0,0,.2);
    margin-bottom: 0.2vw;
   
}
a+a{
margin-right: 3vw;
}
a{
text-decoration: none;
text-shadow: 2px 2px 8px black;
}
#nav-twonav{
padding-top: 1.5vw;
padding-right: 2rem;
/* font-weight: bold; */
}
#nav-twonav:hover{
font-weight: bold;
}

a:visited {
text-decoration: none; 

}


#nav-App {
font-family: sans-serif;
/* height: 100vh; */
}

#page-wrap {
text-align: center;
overflow: auto;
}

.bm-item {
display: inline-block;
text-decoration: none;
margin-bottom: 10px;
/* color: #d1d1d1; */
color: black;
transition: color 0.2s;
}

.bm-item:hover {
color: white;
}

/* .bm-burger-button {
position: fixed;
width: 36px;
height: 30px;
left: 36px;
top: 5px;
} */
.bm-burger-button {
position: fixed;
width : 3vw;
height: 1.8vw;
left: 6vw;
top:1vw;


}

.bm-burger-bars {
background: #373a47;

}

.bm-cross-button {
height: 24px;
width: 24px;
}

.bm-cross {
/* background: #bdc3c7; */
background: black;
}

.bm-menu {
/* background: #373a47; */
background: #EFF2F5D9;
padding: 2.5em 1.5em 0;
font-size: 1.15em;
}

.bm-morph-shape {
fill: #373a47;
}

.bm-item-list {
color: #b8b7ad;
}

.bm-overlay {
background: rgba(0, 0, 0, 0.3);
}

.servicesBackground{
height: 30vw;
background-image: url("../images/servicesbackground.jpg");
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
text-align: center;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: black;
}

#nav-twonav:visited{
    text-decoration: none;
    color:black;
    font-size: large;
    font-weight: bold;
    
}
.servicesTitle{
    padding-top: 7vw;
    color: brown;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 5vw;
}
.servicesTitleContent{
    color: brown;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
}

.servicesSection {
    text-align: center;
}

.servicesLine {
    height: 1px;
    margin: 5rem 10rem 0rem 5rem;
    
    background: black;
    font-family: Arial, Helvetica, sans-serif;
}

#servicesLineTitle {
    color: black;
    font-size: medium;
    font-size: 2vw;
    font-weight: bold;
    position: relative;
    top: -75px;
}

.servicesList{
    background-color: white;
    padding-bottom: 3vw;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
    padding-left: 3vw;
    padding-right: 3vw; 
    margin-right: 25%;
    margin-left: 25%;
    font-family: Arial, Helvetica, sans-serif;
}

.services-list:hover{
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.classicHaircut{
    float: left;
    width: 50%;
    padding: 10px;

}

.hairTrimming{
    float: left;
    width: 50%;
    padding: 10px;
    
}

.hairWaxing{
    padding: 10px;
    
}

.hairGrooming{
    padding: 10px;
    
}


.servicesCost{
    color: green;
}

.haircutContent{
    word-wrap: break-word;
}

.hairtrimContent{
    word-wrap: break-word;
}

.hairwaxingContent{
    word-wrap: break-word;
}

.hairgroomingContent{
    word-wrap: break-word;
}

#bookAppointmentLink{
    color: black;
    text-decoration: underline;
}
