/* @media (max-width: 991px) {
    .wrapper.nav{
        max-width: 280px;
        max-height: 50em;
        background-color: black;
    }
} */

#nav-firstNav{
        padding-top: 1.5vh;
        height: 3vh;
        font-family:  Helvetica, Arial, sans-serif;
        /* font-size:medium; */
        /* font-size: 2.5vw; */
        font-size: 32px;
        text-align: right;
        box-shadow: 0 2px 2px 3px rgba(0,0,0,.2);
        /* margin-bottom: 0.2vw; */
        /* padding-bottom: 6vw; */
        padding-bottom: 60px;
       
}
a+a{
    margin-right: 2.5vw;
}
a{
    text-decoration: none;
    text-shadow: 2px 2px 8px black;
}
#nav-twonav{
    padding-top: 2.5vw;
    padding-right: 2rem;
    font-size: 2vw;
    /* font-weight: bold; */
}
#nav-twonav:hover{
  font-weight: bold;
}

a:visited {
    text-decoration: none; 
    
}


#nav-App {
    font-family: sans-serif;
    /* height: 100vh; */
  }
  
  #page-wrap {
    text-align: center;
    overflow: auto;
  }
  
  .bm-item {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    /* color: #d1d1d1; */
    color: black;
    transition: color 0.2s;
  }
  
  .bm-item:hover {
    color: white;
  }
  
  /* .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 5px;
  } */
    .bm-burger-button {
    position: fixed;
    /* width : 2.5vh;
    height: 2vh; */
    width: 36px;
    height: 30px;
    left: 6vw;
    /* top:1vw; */
    /* margin-top: 1.5vw; */
    margin-top: 20px;
   
  }
  
  .bm-burger-bars {
    background: #373a47;
    
  }
  
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  .bm-cross {
    /* background: #bdc3c7; */
    background: black;
  }
  
  .bm-menu {
    /* background: #373a47; */
    background: #EFF2F5D9;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  .bm-morph-shape {
    fill: #373a47;
  }
  
  .bm-item-list {
    color: #b8b7ad;
  }
  
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

.home-background{
    /* width: 100%;*/
   
    background-image: url("../images/homebackground.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    height: 40vh;
}
#nav-twonav:visited{
    text-decoration: none;
    color:black;
    font-size: large;
    font-weight: bold;
    
}
.home-title{
    padding-top: 17vh;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 5vw;
}
.home-secondtitle{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1vh;
}

.home-button{
    background-color: #DBA554;
    width: 10vh;
    height: 3vh;
    box-shadow: 0 2px 2px 3px rgba(0,0,0,.2);
    font-size: small;
    font-size: 1.5vh;
}
.home-booknow{
    color: black;
    font-size: small;
    font-size: 1vh;

}
.home-button:hover{
    background-color: #299B79;
}
.home-line-1 {
    height: 1px;
    max-width: 80%;
    margin: 10rem 10rem 0 10rem ;
    margin-top: 20vh;
    margin-left: 10vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
    background: black;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }
 #home-igicon{
    width: 7vw;
    height: 7vw;
    margin-right: 5vw;
 }
 #home-fbicon{

    width: 7vw;
    height: 7vw;
    margin-left: 5vw;
    /* padding-top: 1vw; */
    padding: 0.2vw;
 }
 .home-twoicon{
  size: 2vw;
 }
 
 /* #home-line2{
    display: inline;
    font-size: small;
    font-size: 1vw;
    padding-top: 5px;
 } */
 .home-line-2{
    height: 1px;
    max-width: 90%;
    margin: 5rem 5rem 0 5rem ;
    margin-top: 6vh;
    margin-left:5vw;
    margin-right: 5vw;
    background: black;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
 }
#home-font{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vw;
}
.home-line22{
  columns: 2;
  font-size: small;
  font-size: 1vh;
}
#home-address{
  padding-top: 1vh;
}

/* .about-background{
  height: 300px;
  background-image: url("../images/grooming3.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: fill;
  text-align: center;
  color: black;
  opacity: 75%;

} */
.about-background1{
      height: 35vh;
      background-image: url("../images/aboutbackground.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      text-align: left;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: white;
}
.about-headertitle{
  padding-top: 12vh;
  color:#373a47;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 5vw;
  font-weight: bold;
  margin-left: 13vw;
}
.about-title{
  color:#373a47;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 3vw;
  font-weight: bold;
  margin-left: 8vw;
} 
#about-subtitle{
  text-align: center;
  text-decoration: underline;
  font-size: medium;
  font-size: 2.5vw;
  font-weight: bold;
}
.about-middleelement{
  grid-row: 2;
  margin-left: 10%;
  margin-right: 10%;
  
}
.about-mid1{
  padding-top: 2vw;
  /* padding-bottom: 1vw; */
  column-count: 2;
  column-gap: 0;
}
#about-textundercontent1{
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
#about-content1{
  font-size: medium;
  font-size: 2vw;
  color: green;
}
#about-booknow{
  color: black;
  text-decoration: underline;
  font-size: 1.5vw;

}
.about-content2{
  padding-top: 1.5vh;
  columns: 2;
}
#about-barberimage1{
  width: 20vw;
  height: 20vw;
  margin-bottom: 3vh;
}
#about-barberimage2{
  width: 20vh;
  height: 20vh;
}

.about-mid2{
  margin-top: 2.5vh;
  columns: 2;
}

#about-mid2card{
  background-color: white;
  padding-bottom: 3vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 2vw;
  padding-right: 2vw;
  
}
#about-botcontenttitle{
  font-size: 1.5vw;
  font-weight: bold;
}
#about-address{
  font-size: 1.5vw;
 
}
#about-direction{
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

#about-igicon{
  width: 6vw;
  height: 6vw;
  margin-right: 1.5vw;

}
#about-fbicon{
  width: 6vw;
  height: 6vw;
  margin-left: 1.5vw;
}

.maprouter{
  overflow:hidden;
  padding-top: 30vw;
  position:relative;
  height:0;
}
.maprouter iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.Aboutus-card{
  margin-top: 7vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vh;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
}
#Aboutus-card1{
  background-image: url("../images/aboutbackground.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}
#Aboutus-acelogo{
  width: 8vh;
  height: 8vh;
  margin-left: 20%;
}
#Aboutus-card1title1{
  margin-left: 15%;
  font-size: 5vh;
  padding-top: 3vh;
}
#Aboutus-card1title2{
  margin-left: 6%;
  font-size: 4vh;
  padding-bottom: 3vh;
}
.Aboutus-card2{
  columns: 2;
}
#Aboutus-card2left{
  margin-left: 8vw;
}
#Aboutus-card2text{
  font-size: 2vw;
}
#Aboutus-card2right{
  margin: 5vw;
}
#Aboutus-card2rightimage{
  width:  30vw;
  height: 30vw;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.Aboutus-card3{
  columns: 2;
}

#Aboutus-card3rightimage{
  width:  30vw;
  height: 30vw;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-left: 8vw;
}
#Aboutus-card3text{
  font-size: 3vw;
  text-align: center;
  padding-top: 10vw;
}
#Aboutus-card3textbot{
  font-size: 1.5vw;
  text-align: center;

}
#Aboutus-mid2card{
  background-color: white;
  padding-bottom: 3vw;
  padding-left: 2vw;
  padding-right: 1vw;
  margin-left: 2vw;
  text-align: center;
}

.Aboutus-cardbuttom{
  margin-top: 7vw;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vh;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.Aboutus-findusonmap{
  padding-top: 1vh;
  text-align: center;
  font-size: 3vw;
}
.mainrouter{
  width: 90vw;
  height: 50vh;
}