body {
    margin: 0;
    padding: 0;
}

/* This function allows the items in navbar to display horizontally */
.navbar li {
    display: inline-block;
}
/* Center the text in nav bar*/
.navbar ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Add background color to nav bar */
.navbar {
    background-color: #3A3B3C;
    position: fixed;
    opacity: 0.90;
    /* Set the position of the nav bar to top of the page */
    top: 0; 
    right: 0;
    left: 0;
    width: 100%; /* Set nav bar to full width */
}

/* Style the links (Home, Services, Appointments, etc.) */
.navbar a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-family: fantasy, "Papyrus";
    font-size: 25px;
    font-weight: 200;
}

/* Style navbar links when user hover over links */
.navbar a:hover {
    background-color:#d4cece;
    color: black;
}

/* Add background image */
.background{

    position: fixed; 
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background::before{
      content: "";
      background-image: url("/images/BarbershopBackground.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-attachment: scroll;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.70;
}

/* Center Ace's Barber Shop logo */
.logo {
    bottom: 0;
    left: 0;
    height: 300px;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;    
}   
/* CSS for Login */
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form{
    height: 520px;
    width: 400px;
    background-color: rgba(240, 233, 233, 0.74);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #0e0e0e;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(137, 148, 148, 1);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 20px;
    width: 100%;
    background-color: rgba(137, 148, 148, 1);
    color: #080710;
    padding: 7px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.social{
  margin-top: 10px;
  display: flex;
}
.social div{
  width: 150px;
  border-radius: 3px;
  padding: 7px 10px 10px 5px;
  background-color: rgb(137, 148, 148);
  color: #000000;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 20%;
}
